* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* Colors */
:root {
    --yellow: #ffcc29;
    --blue: #1D539E;
    --gray: #828799;
    --page-background: #f9fbfc;
}

body {
    background-color: var(--page-background);
}

/* Fonts */

h1, h2, h3, p, button {
    font-family: 'Open Sans', sans-serif;
}

/* Botões */
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  .fourth {
    border-color: var(--blue);
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, var(--blue) 50%, transparent 50%);
    background-image: linear-gradient(45deg, var(--blue) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }

  /* botão básico */

  .btn2 {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: coral;
    outline: 0;
  }
  .fourth2 {
    border-color: var(--blue);
    color: coral;
    background-image: -webkit-linear-gradient(45deg, white 50%, transparent 50%);
    background-image: linear-gradient(45deg, white 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .fourth2:hover {
    background-position: 0;
  }

  /* Pós clique */
    /* Free */
.freetitle {
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
    color: black;
}

.freebody {
    background-color: green;
    text-align: center;
}

.freelink {
    font-size: 35px;
    text-decoration: none;
    color: white;
}
    /* Básico */
  .basictitle {
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
    color: white;
}

.basicbody {
    background-color: blue;
    text-align: center;
}

.basiclink {
    font-size: 35px;
    text-decoration: none;
    color: coral;
}
    /* Profissonal */
  .profissionaltitle {
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
    color: red;
}

.profissionalbody {
    background-color: black;
    text-align: center;
}

.profissionallink {
    font-size: 35px;
    text-decoration: none;
    color: white;
}

/* Inicio da Home */

.section1{
    content: '';
    width: 100%;
    height: 40%;
    background-color: var(--blue);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-align: center;
}

.section1 h1 {
    margin-top: 20px;
    font-size: 48px;
    color: #FFFFFF; 
}

.section1 p {
    height: 50px;
    width: 553px;
    margin-left: 470px;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 18px;
}



.section2 {
    display: flex;
    margin-top: 200px;
    margin-left: 75px;
}

/* Free */
.free {
    width: 355px;
    height: 470px;
    margin-left: 117px;
    background-color: rgb(239, 236, 236);;
    border-radius: 8px;
}

.free h3 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.free h2 {
    margin-top: 20px;
    font-size: 30px;
}

.free h3, p, h2 {
    margin-left: 30px;
}

.pricefree {
    display: flex;
}


.pricefree p {
    margin-left: 5px;
    padding-top: 25px;
}

article {
    font-size: 15px;
    display: inline;
}

.free p {
    margin-right: 4px;
    font-size: 15px;
    margin-top: 10px;
    color: #828799;
}

.line-1 {
    margin: auto;
    margin-bottom: 20px;
    width: 295px;
    height: 1px;
    background: gray;
}

.free button {
    width: 250px;
    height: 49px;
    margin-left: 50px;
    margin-top: 130px;

    background-color: white;
    color: #1D539E;
    
    border: 1px solid var(--blue);
    border-radius: 10px;
}

.free a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}


/* Básico */
.basic {
    width: 355px;
    height: 470px;
    margin-left: 20px;
    background-color: rgb(239, 236, 236);;
    border-radius: 8px;
    margin-bottom: 10px;
}

.yellow {
    height: 15%;
    width: 100%;
    background-color: var(--yellow);
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    text-align: center;
}

#basico {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    color: var(--blue);
}

.basic h2 {
    font-size: 34px;
    margin-top: 15px;
}

.popular {
    margin-top: 12px;
    margin-left: 150px;
    width: 94px;
    height: 32px;
    background-color: var(--blue);
    padding-top: 8.5px;
    border-radius: 40px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.basic h3 {
    font-size: 34px;
    margin-top: 30px;
    font-weight: 600;
}

.basic h3, p, h2 {
    margin-left: 30px;

}

.pricebasic {
    display: flex;
}

.pricebasic p {
    margin-left: 5px;
    padding-top: 21px;
}

article {
    font-size: 14px;
    display: inline;
}

.basic p {
    margin-right: 4px;
    font-size: 17px;
    margin-top: 10px;
    color: #828799;
}

.description {
    margin-top: 20px;
}

.line-2 {
    margin: auto;
    margin-bottom: 20px;
    width: 295px;
    height: 1px;
    background: gray;
}

.basic button {
    width: 250px;
    height: 49px;
    margin-left: 50px;
    margin-top: 65px;

    background-color: var(--blue);
    color: coral;
    
    border: 1px solid var(--blue);
    border-radius: 10px;
}


.basic a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

/* Profissional */

.profissional {
    width: 355px;
    height: 470px;
    margin-left: 20px;
    background-color: rgb(239, 236, 236);
    border-radius: 8px;

}

.profissional h3 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.profissional h2 {
    margin-top: 20px;
    font-size: 30px;
}

.profissional h3, p, h2 {
    margin-left: 30px;

}

.price {
    display: flex;
}

.price p {
    margin-left: 5px;
    padding-top: 25px;
}

article {
    font-size: 14px;
    display: inline;
}

.profissional p {
    margin-right: 8px;
    font-size: 15px;
    margin-top: 10px;
    color: #828799;
}

.line-3 {
    margin: auto;
    margin-bottom: 20px;
    width: 295px;
    height: 1px;
    background: gray;
}

.profissional button {
    width: 250px;
    height: 49px;
    margin-left: 50px;
    margin-top: 68px;

    background-color: white;
    color: #1D539E;
    
    border: 1px solid var(--blue);
    border-radius: 10px;
}

.profissional a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

@media(min-width: 1800px) {
    .section1 h1 {
        margin-top: 60px;
        font-size: 48px;
        color: #FFFFFF;
        margin-left: 0px;
    }
    
    .section1 p {
        height: 50px;
        width: 553px;
        margin-left: 655px;
        margin-top: 20px;
        color: #FFFFFF;
        font-size: 18px;
    }
    
    .section2 {
        display: flex;
        margin-top: 250px;
        margin-left: 260px;
    }
}

/* Responsividade mobile */

/* @media(max-width: 390px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
    }


    .section1{
        content: '';
        width: 100%;
        height: 40%;
        background-color: var(--blue);
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        text-align: center;
    }
    
    .section1 h1 {
        margin-top: 20px;
        font-size: 35px;
        color: #FFFFFF; 
    }
    
    .section1 p {
        height: 50px;
        width: 390px;
        margin-left: 0px;
        margin-top: 20px;
        color: #FFFFFF;
        font-size: 16px;
        text-align: center;
    }
    
    .section2 {
        display: flex;
        margin-top: 250px;
        margin-left: 0px;
        flex-direction: column;
    }

    
    .free {
        width: 355px;
        height: 470px;
        margin-left: 0px;
        background-color: rgb(239, 236, 236);
        border-radius: 8px;
    }

    .basic {
        width: 355px;
        height: 470px;
        margin-left: 0px;
        background-color: rgb(239, 236, 236);;
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .profissional {
        width: 355px;
        height: 470px;
        margin-left: 0px;
        background-color: rgb(239, 236, 236);
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
} */

@media(max-width: 414px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
    }


    .section1{
        content: '';
        width: 100%;
        height: 30%;
        background-color: var(--blue);
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        text-align: center;
        align-items: center;
    }
    
    .section1 h1 {
        margin-top: 70px;
        font-size: 35px;
        color: #FFFFFF;
        
    }
    
    .section1 p {
        height: 50px;
        width: 370px;
        margin-left: 10px;
        margin-top: 17px;
        color: #FFFFFF;
        font-size: 16px;
        text-align: center;
    }
    
    .section2 {
        display: flex;
        margin-top: 300px;
        margin-left: 0px;
        flex-direction: column;
        align-items: center;
    }

    /* cards */
    .free {
        width: 355px;
        height: 470px;
        margin-left: 0px;
        background-color: rgb(239, 236, 236);
        border-radius: 8px;
    }

    .basic {
        width: 355px;
        height: 470px;
        margin-left: 0px;
        background-color: rgb(239, 236, 236);;
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .profissional {
        width: 355px;
        height: 470px;
        margin-left: 0px;
        background-color: rgb(239, 236, 236);
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media(max-width: 375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
    }


    .section1{
        content: '';
        width: 100%;
        height: 25%;
        background-color: var(--blue);
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        text-align: center;
    }

    .section1 h1 {
        margin-top: 30px;
        font-size: 30px;
        color: #FFFFFF;
        margin-left: 0px;
    }
    
    .section1 p {
        height: 50px;
        width: 375px;
        margin-left: 0px;
        margin-top: 20px;
        color: #FFFFFF;
        font-size: 14px;
        text-align: center;
    }
    
    .section2 {
        display: flex;
        margin-top: 220px;
        margin-left: 0px;
        flex-direction: column;
    }

    /* cards */
    .free {
        width: 355px;
        height: 470px;
        margin-left: 10px;
        background-color: rgb(239, 236, 236);
        border-radius: 8px;
    }

    .basic {
        width: 355px;
        height: 470px;
        margin-left: 10px;
        background-color: rgb(239, 236, 236);;
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .profissional {
        width: 355px;
        height: 470px;
        margin-left: 10px;
        background-color: rgb(239, 236, 236);
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}


